@inherits LayoutComponentBase

  <header>
        <h1>Web App</h1>
    </header>
    <nav>
          <NavMenu />
    </nav>
    <content>
        @Body
    </content>
    <footer>
        <p>copyright @@dotnetist 2021</p>
    </footer>
