/* You can add global styles to this file, and also import other style files */
header {
  background-color: yellowgreen;
  h1 {
      color: tomato;
  }
}
content {
  background-color: wheat;
  h2 {
      color: steelblue;
  }
}
footer {
  background-color: yellowgreen;
  p {
      font-style: italic;
  }
}
